#questions img{
    width: 64px;
    height: 64px;
    border-radius: 50%;
    vertical-align: top;
}
#questions section{
    margin-bottom: 15px;
    cursor: pointer;
}

#questions section section {
    display: inline-block;
    padding-left: 20px;
    width: calc(100% - 64px);
}

#questions section section h3{
    margin-top: 0px;
}